In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import ipywidgets as wdgt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

df = pd.read_csv('SPX.csv')
# This dataset was acquired from Kaggle from this link: https://www.kaggle.com/datasets/henryhan117/sp-500-historical-data/data
# This is a dataset from January 1928 - November 2020, it contains details about the S&P 500's stock price every day within this period

<bound method NDFrame.head of              Date         Open         High          Low        Close  \
0      1927-12-30    17.660000    17.660000    17.660000    17.660000
1      1928-01-03    17.760000    17.760000    17.760000    17.760000
2      1928-01-04    17.719999    17.719999    17.719999    17.719999
3      1928-01-05    17.549999    17.549999    17.549999    17.549999
4      1928-01-06    17.660000    17.660000    17.660000    17.660000
...           ...          ...          ...          ...          ...
23318  2020-10-29  3277.169922  3341.050049  3259.820068  3310.110107
23319  2020-10-30  3293.590088  3304.929932  3233.939941  3269.959961
23320  2020-11-02  3296.199951  3330.139893  3279.739990  3310.239990
23321  2020-11-03  3336.250000  3389.489990  3336.250000  3369.159912
23322  2020-11-04  3406.459961  3486.250000  3405.169922  3443.439941

         Adj Close      Volume
0        17.660000           0
1        17.760000           0
2        17.719999           0
3        17.549999           0
4        17.660000           0
...            ...         ...
23318  3310.110107  4903070000
23319  3269.959961  4840450000
23320  3310.239990  4310590000
23321  3369.159912  4220070000
23322  3443.439941  4783040000

[23323 rows x 7 columns]>

In [10]:
# The first thing I want to do is cleanse the data, and by this I mean I want to make sure there's no leading spaces after the column names and then I want to extract the years and months into their own column.
df.columns = df.columns.str.strip()
df['Year'] = df['Date'].str[:4]
df['Month'] = df['Date'].str[5:7] # This was found from here: https://stackoverflow.com/questions/51607400/how-to-extract-first-8-characters-from-a-string-in-pandas

print(df)

             Date         Open         High          Low        Close  \
0      1927-12-30    17.660000    17.660000    17.660000    17.660000
1      1928-01-03    17.760000    17.760000    17.760000    17.760000
2      1928-01-04    17.719999    17.719999    17.719999    17.719999
3      1928-01-05    17.549999    17.549999    17.549999    17.549999
4      1928-01-06    17.660000    17.660000    17.660000    17.660000
...           ...          ...          ...          ...          ...
23318  2020-10-29  3277.169922  3341.050049  3259.820068  3310.110107
23319  2020-10-30  3293.590088  3304.929932  3233.939941  3269.959961
23320  2020-11-02  3296.199951  3330.139893  3279.739990  3310.239990
23321  2020-11-03  3336.250000  3389.489990  3336.250000  3369.159912
23322  2020-11-04  3406.459961  3486.250000  3405.169922  3443.439941

         Adj Close      Volume  Year Month
0        17.660000           0  1927    12
1        17.760000           0  1928    01
2        17.719999           0  1928    01
3        17.549999           0  1928    01
4        17.660000           0  1928    01
...            ...         ...   ...   ...
23318  3310.110107  4903070000  2020    10
23319  3269.959961  4840450000  2020    10
23320  3310.239990  4310590000  2020    11
23321  3369.159912  4220070000  2020    11
23322  3443.439941  4783040000  2020    11

[23323 rows x 9 columns]

In [14]:
#  Now that I have the years and months I want to extract them into 2 different csvs so that I can use them for displaying different time periods on my charts
monthly = df.groupby(['Year', 'Month'])['Open'].mean().reset_index()
monthly['Open'] = monthly['Open'].round(1)
monthly.to_csv('monthly-data.csv', index=False)

yearly = df.groupby(['Year'])['Open'].mean().reset_index()
yearly['Open'] = yearly['Open'].round(1)
yearly.to_csv('yearly-data.csv', index=False)